/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
/* Basic styling */
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #171616!important;
  background-color: #171616!important;
  overflow-x: hidden;
}

/* Nav bar */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: rgba(0, 0, 0, .3)!important;
  height:5rem;
}

.navbar-brand img {
  height: 2.125rem;
  position: absolute;
  margin-top: -1rem;
}

.navbar-nav li {
  padding-right: 1.4rem;
  float: right;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(211, 211, 211)!important;
  padding-top: .5rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: rgb(231, 231, 231)!important;
  transition: all 300ms ease;
}

.navbar-dark .navbar-nav .nav-item-color {
  color: rgb(255, 255, 255)!important;
}

.navbar-dark .navbar-nav .nav-item-color:hover {
}

.button{
  background-color:transparent;
  border-radius: .5rem;
  border: solid rgb(60, 184, 255) 2px;
}
.button:hover{
  background-color: rgb(32, 187, 214);
  color:white;
}

.row-container{
  display: flex;
  width: 100%;
  height: 100%;
}

/* Landing Image */
.home-inner{
  background-image: url(img/marketing.jpg);
  opacity: .7;
}

#navBar{
  height: 6rem;
  transition: all 150ms ease;
  background-color: rgba(0, 0, 0, .17)!important;
  font-size: 1rem!important;
}

/* Landing Text */
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  animation: fadeIn 2s;
  text-transform: uppercase;
}
/* Landing Heading1 */
.caption h1 {
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}

.caption-1 {
  width: 100%;
  max-width: 100%;
  top: 8rem;
  position: relative;
  z-index: 1;
  color: white;
  text-transform: uppercase;
  text-shadow: .1rem .1rem .8rem black;
  font-size: 2.8rem;
  font-weight: 600;
}
/* Landing Heading3 */
.caption h3 {
  font-size: 2rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}

.col-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  
}

.card-container{
  height: 12rem;
  background-color:rgb(20, 20, 20);
  border-bottom: #292929 solid 2px;
  color:white;
}

.info{
  padding-top: 2rem;
  padding-left: 3rem;
}
.card-title{
  font-size: 2rem;
}
.card-teacher{
  margin-top: -.9rem;
}
.card-info{
  margin-top: -1rem;
}
.mini-row{
  display: flex;
  flex-direction: row;
}
/* Footer Section*/
.lower-footer{
    margin-top:.3rem;
  }
  footer{
    position: relative;
  }
  .footer-distributed {
    background-color: #1a1919;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
  }
  
  .footer-distributed .footer-left p {
    color: #8f9296;
    font-size: 14px;
    margin: 0;
  }
  /* Footer links */
  
  .footer-distributed p.footer-links {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
    transition: ease .25s;
  }
  
  .footer-distributed p.footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: ease .25s;
  }
  
  .footer-distributed .footer-links a:before {
    content: "·";
    font-size: 20px;
    left: 0;
    color: #fff;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  .footer-distributed .footer-right {
    float: right;
    margin-top: 6px;
    max-width: 180px;
  }
  
  .footer-distributed .footer-right a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
  }
  
  .footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}
  
  .footer-distributed p.footer-links a:hover{text-decoration:underline;}
  
  /* Media Queries */
  
  @media (max-width: 600px) {
    .footer-distributed .footer-left, .footer-distributed .footer-right {
      text-align: center;
    }
    .footer-distributed .footer-right {
      float: none;
      margin: 0 auto 20px;
    }
    .footer-distributed .footer-left p.footer-links {
      line-height: 1.8;
    }
  }

  @media(max-width:798px) {
    .row-container{
      display: flex;
      flex-direction: column;
    }
    .img-container{
      width: 100%;
      min-width: 100%;
    }
    .col-container{
    }
  }


@media(max-width:680px){
  .caption h1{
      font-size: 3rem;
  }
}

@media(max-width:544px){
  .caption h1{
      font-size: 2.5rem;
  }
  .caption h3{
      font-size: 1.8rem;
  }
}
/****Footer icons color*****/
.fa-facebook:hover{
  color:rgb(35, 23, 204);
}

.fa-twitter:hover{
  color:rgb(59, 79, 255);
}
.fa-instagram:hover{
  color:rgb(255, 0, 98);
}
.fa-github:hover{
  color:rgb(80, 80, 80);
}
.fa-github, .fa-facebook, .fa-instagram, .fa-twitter{
  transition: 200ms all ease;
}

@media(max-width:320px){
  .caption h1{
      font-size: 2rem;
  }
  .caption h3{
      font-size: 1.3rem;
  }
}
@media(max-width:580px){
  .card-info{
    font-size: .75rem;
  }
  .card-title{
    font-size: 1.5rem;
  }
  .info{
    position: relative;
    left: -2rem;
  }
}

@media(max-width:335px){
  .card-info{
    font-size: .7rem;
  }
  .card-title{
    font-size: 1.2rem;
  }
}